dist: trusty
sudo: false

language: python
python:
- '3.5'
- '3.6'
# - '3.7'
# TODO: blocker is https://github.com/travis-ci/travis-ci/issues/9815
# workaround py3.7 start
matrix:
  include:
  - python: '3.7'
    dist: xenial
    sudo: true
# workaround py3.7 end

install: make install venv=$VIRTUAL_ENV

script: make test venv=$VIRTUAL_ENV
