# This is a .service file for systemd(8)
#
# If you are using systemd as a system daemon manager, you may use this file
# (with your own local modifications) as a reference.
#
# This file may be copied to /etc/systemd/system/ and modified with your own
# local changes, such as the user to run the daemon as, and where the daemon
# is located
#
# the default assumes that the installation was made by the user hangupsbot into
# its home directory:
# $ cd /home/hangupsbot
# $ git clone https://github.com/das7pad/hangoutsbot.git src
# $ make -C src install

# to check the logs run
# $ tail -f /home/hangupsbot/my_bot/hangupsbot.log

# config.json and memory.json are in the users home dir:
# /home/hangupsbot/my_bot/config.json
# /home/hangupsbot/my_bot/memory.json

[Unit]
Description=Hangouts Bot
After=network-online.target

[Service]
ExecStart=/home/hangupsbot/venv/bin/hangupsbot --service --base_dir /home/hangupsbot/my_bot
User=hangupsbot
Group=hangupsbot

Restart=on-failure
RestartSec=5
TimeoutStopSec=5
SyslogIdentifier=hangupsbot

[Install]
WantedBy=multi-user.target
